[submodule "qemu-gui"]
	path = qemu-gui
	url = https://github.com/ispras/qemu-gui
[submodule "qemu"]
	path = qemu
	url = https://github.com/ispras/qemu
	branch = swat
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = https://github.com/ispras/binutils-gdb
	branch = reverse-roll
